<!-- dashboard.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bar.css' %}">
    <!-- Inclure le lien vers Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <h1>Netflix Dashboard</h1>

    <div class="chart-container">
        <!-- Graphique interactif des séries télévisées -->
        {{ plot_tv_shows|safe }}
    </div>

    <div class="chart-container">
        <!-- Graphique interactif des films -->
        {{ plot_movies|safe }}
    </div>

</body>
</html>
